@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
     <div class="jumbotron">
        <img src="~/img/taxi-robot.png" class="img-fluid rounded mx-auto HomeImage" alt="elephant grasping tail of another elephant">
        <h1 class="display-4">A student project designed to help.</h1>
        <p class="lead HomeText">As part of the Ulster University Msc. Professional Software Programming course,
            I was asked to make something. So I made this.
        </p>
        <hr class="my-4">
        <p> It's a Web-App that gathers a location and sends it to a database. <br>From there it can send it on to relevant people. 
        <br>This version is a proof-of-concept application for the purposes of reporting a homeless person to a charity that can help.
        <br><strong>It is not in active use, and should not be used to report actual people needing help.</strong>
        <br>If you have somehow stumbled here looking for a way to actually help: <br> in Belfast call Welcome on <strong>07894931047</strong> 
        and in Derry~Londonderry call Simon Community on <strong>0800-171-2222</strong>
        </p>

        <p>This is a Web application built on ASP.NET Core 3.1, built by a student, contact <strong>mcerlean-c13@ulster.ac.uk</strong> for support or for enquiries.</p>
        
    </div>
</div>
