@{
    ViewData["Title"] = "Help us out!";
}

<div class="text-center">

    <div class="jumbotron">
        <img src="~/img/taxi-help-and-care.png" class="img-fluid rounded mx-auto HomeImage" alt="elephant grasping tail of another elephant">
        <h1 class="display-4 HomeText">Sometimes we need a hand, sometimes we can give a hand...</h1>
        <p class="lead HomeText">When you want to help, but don't know how, why not tell someone who can do more.</p>
        <hr class="my-4">
        <p> We make reporting the location of a rough-sleeper <strong>simple</strong>. And we can pass it on to the <strong>people who can help</strong>.
            <br>If you have info to help out, tap the button below and let us know. <br>Or click to learn more about us.</p>
        <a class="btn btn-primary btn-lg pinkSolid" asp-controller="Home" asp-action="About">Learn more</a>
        <a class="btn btn-primary btn-lg pinkSolid" asp-controller="Report" asp-action="Create">Submit</a>
    </div>
    

     
</div>
