<div class="wrapper">
    <div id="map">
        <span class="helper">Click the button to get you current location</span>
        <img id="preloader" src="~/img/489.gif">
    </div>

    <a class="button" href="" title="">Find My Location</a>

    <div id="results">
        <span class="longitude"></span><br>
        <span class="latitude"></span><br>
        <span class="location"></span>
    </div>
</div>