@model PasswordViewModel

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" ><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item" ><a asp-controller="User" asp-action="UserSettings" asp-route-Email="@Model.EmailAddress">Account Settings</a></li>
    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
  </ol>
</nav>

<div class="row justify-content-center">
<form asp-action="ChangePassword">
    <div class="row">
        <!-- Email -->
        <div class="col-md-6">
            <div class="form-group">
            <label asp-for="EmailAddress" class="control-label">Email</label>
            <input asp-for="EmailAddress" class="form-control" readonly />
            
            </div>
        </div>
            
        
    </div>
    <div class="row">
        <!-- New Password -->
        <div class="col-md-6">
            <div class="form-group">
            <label asp-for="NewPassword" class="control-label">Password</label>
            <input type="password" asp-for="NewPassword" class="form-control">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>

        <!-- New Password Confirm -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="NewPasswordConfirm" class="control-label">Confirm </label>
                <input type="password" asp-for="NewPasswordConfirm" class="form-control">
                <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
            </div>
        </div>
    </div>

   

<!-- Buttons -->
    <div class="row justify-content-center">
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn pinkSolid"/>
                <a class="btn pinkHollow" asp-controller="User" asp-action="UserSettings" asp-route-Email="@Model.EmailAddress">Back</a>
            </div>
    </div>
</form>
</div>
